# ==========================================
# Akshra Ai - Environment Variables
# ==========================================

# MongoDB Connection String (Atlas or Local)
MONGODB_URI=mongodb+srv://rohanjaiswal93774_db_user:E9DL0IievTWOhnTw@cluster0.gmttmwi.mongodb.net/Akshra-ai

# JWT Secret for Secure Authentication Cookies
JWT_SECRET=akshra-ai-super-secret-jwt-key-2026

SMTP_SERVICE=gmail
SMTP_USER=1nonlythecoder@gmail.com
SMTP_PASS=pbrh fcmv ifub agtn
SMTP_FROM="1nonlythecoder@gmail.com"

# OpenRouter API Key (https://openrouter.ai/keys)
OPENROUTER_API_KEY=your_openrouter_api_key_here

# Default Model ID
DEFAULT_OPENROUTER_MODEL=deepseek/deepseek-chat